#################
## Codewarrior
#################

*.d
*.args
*.prefs
*.map
*.mk
*.obj
*.s19
*.abs
*.xml
*.datasource
*.bbl

.metadata/
Backups/
bin/
lib/
Robokid_V1_Data/
RemoteSystemsTempFiles/
Project_Settings/Debugger/
MC9S08AW60/
Trace_Profile_Results/



